In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/charging_station_data.csv')
df.head()

,charging_station_id,location,time_of_day,next_maintenance_days,usage_efficiency,maintenance_needed,fault_probability,charging_sessions,total_energy_delivered_kW,last_maintenance_date,charging_duration_hours,temperature,voltage,current,user_feedback
0,1,Location C,Night,269.6,1.0,Software Update,0.06,6,639.842852,2024-10-23 04:54:31.926507,0.994945,17.014549,201.947638,78.460496,3
1,2,Location B,Morning,58.3,1.0,Connector Cleaning,0.03,3,477.459579,2024-03-26 09:02:31.926507,1.726527,25.368145,377.111947,95.831005,2
2,3,Location D,Evening,278.7,1.0,Connector Cleaning,0.07,7,213.178622,2024-11-01 17:17:31.926507,1.602714,19.881696,303.748184,61.473404,4
3,4,Location A,Night,347.8,1.0,Connector Cleaning,0.08,8,205.094803,2025-01-09 12:12:31.926507,0.978393,22.106901,353.341956,45.848011,1
4,5,Location B,Evening,134.5,1.0,Cable Inspection,0.05,5,808.333814,2024-06-10 10:23:31.926507,1.022105,31.624070,266.533409,77.774232,2

In [3]:
print("Unique locations:", df['location'].unique())
print("Unique times of day:", df['time_of_day'].unique())

Unique locations: ['Location C' 'Location B' 'Location D' 'Location A']
Unique times of day: ['Night' 'Morning' 'Evening' 'Afternoon']